body {
    background: grey;
}

h1#titleCard {
    text-align: center;
    background-color: beige;
}

section#listGames div {

    float: left;
    text-align: center;
    width: 33%;
    background-color: burlywood;

}

#gameBoard {
    background-color: #111;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 400px;
}